In [ ]:
#Task: Use the D.C. Residential Properties dataset to re-scale the "price" column using both z-score standardization and Min-max scaling

In [4]:
#library to use dataframes
import pandas as pd

#functions for z-score scaling and MinMax scaling
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [5]:
#variable for the path to the file
filepath = "../../datasets/DC_Properties.csv"

#read info from file and load as dataframe
#then show first 5 rows of dataframe
housing_df = pd.read_csv(filepath)
housing_df.head()

C:\Users\Nisha\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [6]:
#total number of null (missing) values in each column
housing_df.isnull().sum()

Unnamed: 0                 0
BATHRM                     0
HF_BATHRM                  0
HEAT                       0
AC                         0
NUM_UNITS              52261
ROOMS                      0
BEDRM                      0
AYB                      271
YR_RMDL                78029
EYB                        0
STORIES                52305
SALEDATE               26770
PRICE                  60741
QUALIFIED                  0
SALE_NUM                   0
GBA                    52261
BLDG_NUM                   0
STYLE                  52261
STRUCT                 52261
GRADE                  52261
CNDTN                  52261
EXTWALL                52261
ROOF                   52261
INTWALL                52261
KITCHENS               52262
FIREPLACES                 0
USECODE                    0
LANDAREA                   0
GIS_LAST_MOD_DTTM          0
SOURCE                     0
CMPLX_NUM             106696
LIVING_GBA            106696
FULLADDRESS            52917
CITY                   52906
STATE                  52906
ZIPCODE                    1
NATIONALGRID           52906
LATITUDE                   1
LONGITUDE                  1
ASSESSMENT_NBHD            1
ASSESSMENT_SUBNBHD     32551
CENSUS_TRACT               1
CENSUS_BLOCK           52906
WARD                       1
SQUARE                     0
X                        237
Y                        237
QUADRANT                 237
dtype: int64

In [7]:
#drop the Unnamed:0 column from dataframe
housing_df.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
#list of column header names
housing_df.columns

Index(['BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS', 'BEDRM',
       'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE', 'QUALIFIED',
       'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE', 'CNDTN',
       'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES', 'USECODE',
       'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM', 'LIVING_GBA',
       'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID', 'LATITUDE',
       'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD', 'CENSUS_TRACT',
       'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [29]:
housing_df['PRICE'].describe()

count    1.589530e+05
mean     8.828639e+05
std      5.602548e+06
min      1.000000e+00
25%      2.652539e+05
50%      4.215000e+05
75%      7.100000e+05
max      1.374275e+08
Name: PRICE, dtype: float64

In [9]:
#table of average price by Ward and # of bedrooms
housing_df.groupby(['WARD', 'BEDRM'])['PRICE'].mean()

WARD    BEDRM
Ward 1  0        4.374085e+05
        1        5.299856e+05
        2        5.647922e+05
        3        5.385860e+05
        4        6.516617e+05
        5        7.845974e+05
        6        8.433083e+05
        7        9.345000e+05
        8        8.191190e+05
        9        1.037317e+06
        10       9.180000e+05
        12       7.480000e+05
        14       9.250000e+05
        15       1.105000e+06
        20       1.900000e+06
Ward 2  0        1.063929e+06
        1        1.012982e+06
        2        9.294823e+05
        3        1.266270e+06
        4        1.438164e+06
        5        1.767520e+06
        6        2.274467e+06
        7        2.486571e+06
        8        3.038708e+06
        9        6.007558e+06
        10       8.430000e+05
        11       2.800000e+05
        12       2.396029e+07
        13                NaN
        15                NaN
                     ...
Ward 6  9        6.532786e+05
        10       9.212500e+05
        11       1.850000e+06
        12       2.000000e+05
Ward 7  0        3.995500e+05
        1        1.865158e+05
        2        1.984242e+05
        3        2.379211e+05
        4        2.978080e+05
        5        3.234700e+05
        6        2.957809e+05
        7        2.651012e+05
        8        2.803911e+05
        9        3.400000e+05
        10       3.535005e+05
        12       4.150000e+05
Ward 8  0        2.426689e+06
        1        5.731426e+05
        2        2.195843e+05
        3        2.242471e+05
        4        2.837140e+05
        5        2.652539e+05
        6        2.631351e+05
        7        3.272000e+05
        8        3.555965e+05
        9        2.537000e+05
        10       2.389107e+05
        11       3.489200e+05
        12       3.064377e+05
        13       4.425000e+05
Name: PRICE, Length: 115, dtype: float64

In [10]:
#fill in null values with information from groupby table
housing_df['PRICE'].fillna(housing_df.groupby(['WARD', 'BEDRM'])['PRICE'].transform('mean'), inplace=True)

In [11]:
#verify number of null values left in the PRICE column

housing_df['PRICE'].isnull().sum()

18

### Note:
Some wards only had one house with a certain number of bedrooms. Those houses did not have a price reported (null), so those rows are still empty.

In [12]:
#look at the rows with missing prices
#only show ward, bedroom, and price column
housing_df[['WARD', 'BEDRM', 'PRICE']].loc[housing_df['PRICE'].isnull()]

          WARD  BEDRM  PRICE
24545   Ward 3     12    NaN
26469   Ward 3     12    NaN
27035   Ward 3     16    NaN
34308   Ward 3     11    NaN
34320   Ward 4     24    NaN
36440   Ward 3     13    NaN
37037   Ward 2     16    NaN
37597   Ward 2     13    NaN
38949   Ward 2     15    NaN
40431   Ward 2     19    NaN
40556   Ward 2     15    NaN
42487   Ward 4     10    NaN
43274   Ward 4     10    NaN
43434   Ward 4     10    NaN
58384   Ward 4     10    NaN
71154   Ward 5     14    NaN
72476   Ward 5     13    NaN
104610     NaN      4    NaN

In [13]:
#average price of home by number of bedrooms
housing_df.groupby('BEDRM')['PRICE'].mean()

BEDRM
0     2.089351e+06
1     2.046698e+06
2     6.287699e+05
3     4.714808e+05
4     6.736694e+05
5     1.052915e+06
6     1.277628e+06
7     1.780188e+06
8     8.846376e+05
9     2.572085e+06
10    8.442396e+05
11    1.073987e+06
12    3.317439e+06
13    4.425000e+05
14    9.250000e+05
15    1.105000e+06
16             NaN
19             NaN
20    1.900000e+06
24             NaN
Name: PRICE, dtype: float64

In [14]:
#fill in the current missing values with the groupby table info above
housing_df['PRICE'].fillna(housing_df.groupby('BEDRM')['PRICE'].transform('mean'), inplace=True)

In [15]:
#there are still four missing prices
housing_df['PRICE'].isnull().sum()

4

In [16]:
#drop any rows that still have a missing price value
housing_df.dropna(subset=['PRICE'], inplace=True)

In [17]:
#SUCCESS!! no more null values in the PRICE column
housing_df['PRICE'].isnull().sum()

0

In [18]:
'''
Create a function to calculate scaled values for a column and return a pandas column (Series):

This function will take in a pandas column (Series, 1-dimension), convert it into a pandas DataFrame (2-dimensions).
Then the function will determine whether to use z-score or MinMax scaling; other methods cannot be used and will terminate the function.
Using the dataframe of the column, apply the fit_tranform function to convert it into an array and then apply the scaler function to the array 
to calculate the scaled values.
After calculating the scaled values, the array is reshaped into a 1-dimension array to convert to a pandas Series (column).
The pandas column is then returned back and will be added as a new column in the original dataframe.
'''

#
def makeScaledValue(column, scaler_type='zscore'): #other option is 'minmax'
    
    #covert column (Series) into dataframe
    col_df = pd.DataFrame(column)
    
    #check to see if scaler type to use is z-score or MinMax
    if scaler_type == "zscore":
    
        scaler = StandardScaler()
        
    elif scaler_type == "minmax":
        
        scaler = MinMaxScaler()
    
    #if it is neither of those scaling methods then exit the function
    else:
        
        return "Only zscore or minmax scaling can be used."
        
    #if a valid scaling method is being used, print it for the user's confirmation    
    print(f'{scaler_type} is being used.')
    
    #transform the column-dataframe into a 2-dimensional array and then aply the scaling function that was chosen
    scaled_array = scaler.fit_transform(col_df)
    
    #convert the 2D array into a 1D array, then convert it to a pandas Series (column)
    scaled_col = pd.Series(scaled_array.reshape(-1))
    
    #return the column back to the dataframe
    return scaled_col

In [19]:
housing_df['price_zscore'] = makeScaledValue(housing_df['PRICE'])

zscore is being used.

In [20]:
housing_df['price_zscore'].head()

0    0.037864
1    0.157903
2    0.217248
3    0.128359
4    0.068435
Name: price_zscore, dtype: float64

In [21]:
housing_df['price_zscore'].describe()

count    158949.000000
mean         -0.000004
std           1.000015
min          -0.157583
25%          -0.110238
50%          -0.082349
75%          -0.030855
max          24.371964
Name: price_zscore, dtype: float64

In [22]:
housing_df['price_mmscore'] = makeScaledValue(housing_df['PRICE'], scaler_type='minmax')

minmax is being used.

In [23]:
housing_df['price_mmscore'].head()

0    0.007968
1    0.012861
2    0.015281
3    0.011657
4    0.009214
Name: price_mmscore, dtype: float64

In [24]:
housing_df['price_mmscore'].describe()

count    158949.000000
mean          0.006424
std           0.040768
min           0.000000
25%           0.001930
50%           0.003067
75%           0.005166
max           1.000000
Name: price_mmscore, dtype: float64

In [25]:
makeScaledValue(housing_df['PRICE'], scaler_type='otherscale')

'Only zscore or minmax scaling can be used.'

### Removing outliers to see a better (more realistic?) distribution of the data

We will show two methods to remove outliers - Standard Deviation and Interquartile Range. For standard deviation, we will use the z-score scaled data because z-scores are a measurement of how many standard deviations a value is from the mean. However, because the data is heavily right-skewed (meaning, all the data is gathered on the left and the tail is on the right) outliers may influence the average price of a home (when using mean). To counter this, we will use the Interquartile Range (IQR) method because it uses the median (middle value) as the average. Although we will use IQR on the MinxMax scaled data, the scaled data of either method *before* the removal of outliers has the same shape. But when we remove outliers, we will see how the shape (distribution) of our data is affected with each method.

In [31]:
#get a copy of the dataframe that only contains rows that are between -3 and 3
#this means that we are getting data that is within 3 standard deviations on either side of the mean
zscore_3std_df = housing_df.loc[(housing_df['price_zscore'] <= 1.96) & (housing_df['price_zscore'] >= -1.96)]

In [32]:
print(len(housing_df))
print(len(zscore_3std_df))

158953
158510

In [33]:
#original price column contains homes between $1 and $137 million
zscore_3std_df['PRICE'].describe()

count    1.585100e+05
mean     7.605491e+05
std      4.240371e+06
min      1.000000e+00
25%      2.650000e+05
50%      4.206029e+05
75%      7.083875e+05
max      1.374275e+08
Name: PRICE, dtype: float64

In [34]:
zscore_3std_df['price_zscore'].describe()

count    158510.000000
mean         -0.045475
std           0.153691
min          -0.157583
25%          -0.110283
50%          -0.082509
75%          -0.031747
max           1.825648
Name: price_zscore, dtype: float64